

/*************************/
/****** GENERAL **********/
/*************************/
:root {
    /* Colors */
    --main-color: #0065FC; /* Blue */
    --filter-bg-color: #DEEBFF; /* Light blue */
    --main-bg-color: #F2F2F2; /* Grey */
    --second-bg-color: #D9D9D9; /* Light grey */
    --main-text-color: black;

    /* Text configuration */
    --card-title-font: 'Raleway', sans-serif;
    --section-title-font: 'Raleway', sans-serif;
    --information-font: 'Raleway', sans-serif;

    --card-title-weight: 700;
    --section-title-weight: 700;
    --information-weight: 400;

    --card-title-size: 1rem;
    --section-title-size: 1.37rem;
    --information-size: 1rem;

    --card-title-height: 1.17rem;
    --section-title-height: 1.61rem;
    --information-height: 1.17rem;
}

body {
    display: flex;
    justify-content: center;
    margin-top: 0;
}

h1, h2, h3, h4, p, ul, ol {
    font-style: normal;
}

h1, h2, h4 {
    font-family: var(--section-title-font);
    font-weight: var(--section-title-weight);
    color: var(--main-text-color);
}

h1, h2 {
    font-size: var(--section-title-size);
    line-height: var(--section-title-height);
}

h3 {
    font-family: var(--card-title-font);
    font-weight: var(--card-title-weight);
    font-size: var(--card-title-size);
    line-height: var(--card-title-height);
    color: var(--main-text-color);
}

h4 {
    font-size: 1.12rem;
    line-height: 1.32rem;
}

p, ul, ol {
    font-family: var(--information-font);
    font-weight: var(--information-weight);
    font-size: var(--information-size);
    line-height: var(--information-height);
    color: var(--main-text-color);
}

a {
    color: inherit;
    text-decoration: none;
}

.fa-solid {
    color: var(--main-color);
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

/* Tablett and small devices */
@media screen and (max-width: 768px) {
    .main-container {
        max-width: 768px;
        padding: 0;
    }
}

.section-title {
    margin: 0;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/*************************/
/******** HEADER *********/
/*************************/
.main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo-booki {
    height: 1.19rem;
    max-height: 1.19rem;
    margin: 30px 50px 30px 50px;
}

.navigation-menu {
    display: flex;
    flex-direction: row;
    gap: 4.25rem;
    list-style: none;
    margin-top: 0;
    height: 35px;
    padding-left: 0;
}

.navigation-menu a li {
    border-top: 2px solid transparent;
    padding-top: 1.06rem;
}

.navigation-menu a:hover li {
    color: var(--main-color);
    border-top: 2px solid var(--main-color);
}

.navigation-menu li a:focus {
    color: var(--main-color);
    border-top: 2px solid var(--main-color);
}

.navigation-menu li a:visited {
    color: var(--main-color);
    border-top: 2px solid var(--main-color);
}

/* Header small devices */
@media screen and (max-width: 768px) {
    .main-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .logo-booki {
        margin: 1.87rem;
    }
    
    .navigation-menu {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0;
        align-items: center;
        text-align: center;
    }
    
    .navigation-menu a li {
        border-top-width: 0px;
        border-bottom: 2px solid transparent;
        padding: 0 0 1rem 0;
    }
    
    .navigation-menu a:hover li {
        border-top-width: 0px;
        border-bottom: 2px solid var(--main-color);
    }
    
    .navigation-menu li a:focus {
        border-top-width: 0px;
        border-bottom: 2px solid var(--main-color);
    }
    
    .navigation-menu li a:visited {
        border-top-width: 0px;
        border-bottom: 2px solid var(--main-color);
    }
}

/*************************/
/*** SEARCH CONTAINER ****/
/*************************/

.search-form {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: 23.56rem;
    margin-top: 1.87rem;
}

.icon-location-spot {
    background-color: var(--main-bg-color);
    border-radius: 15px 0px 0px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1.3rem 1rem 1.3rem;
}

i.fa-solid.fa-location-dot {
    color: var(--main-text-color);
}

.input-style {
    outline: none;
    border: 1px solid var(--main-bg-color);
    font-family: var(--section-title-font);
    font-size: 1.12rem;
    font-weight: 700;
    line-height: 1.32rem;
}

#place-input {
    text-align: center;
    z-index: 1;
}

#place-input:focus {
    border: 1px solid var(--second-bg-color);
}

.main-button {
    background-color: var(--main-color);
    color: white;
    border: none;
    text-align: center;
    padding: 1rem;
}

#text-search-button {
    font-family: var(--section-title-font);
    font-size: 1.12rem;
    font-weight: 700;
    line-height: 1.32rem;
    border-radius: 0rem 1rem 1rem 0rem;
}

#icon-search-button {
    visibility: hidden;
}

/** Search filters **/
.search-filters {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1.5rem;
    gap: 1rem;
}

.filters-title {
    font-size: 1.12rem;
    font-weight: var(--section-title-weight);
}

.filters {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    list-style: none;
    align-items: center ;
    padding-left: 0;
    gap: 1rem;
}

.filter {
    font-weight: var(--section-title-weight);
    font-size: 1.06rem;
    padding: 1rem 0.9rem;
    border: 2px solid var(--second-bg-color);
    border-radius: 2rem;
    gap: 0.63rem;
}

.filter:hover {
    background-color: #DEEBFF;
}

li.filter i.fa-solid {
    margin-right: 0.5rem;
}

/** Search info **/
.search-info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 0.63rem;
    margin-top: 1.5rem;;
}

i.fa-solid.fa-info {
    font-size: 0.6rem;
    color: var(--main-color);
    background-color: white;
    padding: 0.44rem 0.62rem 0.44rem 0.62rem;
    border-radius: 50%;
    border: 1px solid var(--second-bg-color);
}

/* Tablett only */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .search-filters {
        flex-direction: column;
        align-items: flex-start;
    }
    .filters-title {
        margin: 0;
    }
    .filters {
        margin: 0;
    }
    .filter {
        font-size: 1rem;
    }
}

/* Tablett and small devices */
@media screen and (max-width: 768px) {
    .search-form {
        justify-content: space-between;
        width: 100%;
    }
    .search-container {
        padding: 0rem 1.25rem 0rem 1.25rem;
    }
    
    #text-search-button {
        display: none;
    }
    #icon-search-button {
        visibility: visible;
        border-radius: 1rem;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
        position: relative;
        right: 0.8rem;
        z-index: 2;
    }
    i.fa-solid.fa-magnifying-glass {
        color: white;
    }
    #place-input {
        width: 100%;
    }
    .search-filters {
        flex-direction: column;
        align-items: flex-start;
    }
    .filters-title {
        margin: 0;
    }
    .filters {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        margin: 0;
    }
    .filter {
        font-size: 0.88rem;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}