/****** Header ***********/
.main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo-booki {
    height: 1.19rem;
    max-height: 1.19rem;
    margin: 30px 50px 30px 50px;
}

.navigation-menu {
    display: flex;
    flex-direction: row;
    gap: 4.25rem;
    list-style: none;
    margin-top: 0;
    height: 35px;
    padding-left: 0;
}

.navigation-menu a li {
    border-top: 2px solid transparent;
    padding-top: 1.06rem;
}

.navigation-menu a:hover li {
    color: var(--main-color);
    border-top: 2px solid var(--main-color);
}

.navigation-menu li a:focus {
    color: var(--main-color);
    border-top: 2px solid var(--main-color);
}

.navigation-menu li a:visited {
    color: var(--main-color);
    border-top: 2px solid var(--main-color);
}

/* Header small devices */
@media screen and (max-width: 768px) {
    .main-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .logo-booki {
        margin: 1.87rem;
    }
    
    .navigation-menu {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0;
        align-items: center;
        text-align: center;
    }
    
    .navigation-menu a li {
        border-top-width: 0px;
        border-bottom: 2px solid transparent;
        padding: 0 0 1rem 0;
    }
    
    .navigation-menu a:hover li {
        border-top-width: 0px;
        border-bottom: 2px solid var(--main-color);
    }
    
    .navigation-menu li a:focus {
        border-top-width: 0px;
        border-bottom: 2px solid var(--main-color);
    }
    
    .navigation-menu li a:visited {
        border-top-width: 0px;
        border-bottom: 2px solid var(--main-color);
    }
}

/****** General ***********/

:root {
    /* Colors */
    --main-color: #0065FC; /* Blue */
    --filter-bg-color: #DEEBFF; /* Light blue */
    --main-bg-color: #F2F2F2; /* Grey */
    --second-bg-color: #D9D9D9; /* Light grey */
    --main-text-color: black;

    /* Text configuration */
    --card-title-font: 'Raleway', sans-serif;
    --section-title-font: 'Raleway', sans-serif;
    --information-font: 'Raleway', sans-serif;

    --card-title-weight: 700;
    --section-title-weight: 700;
    --information-weight: 400;

    --card-title-size: 1rem;
    --section-title-size: 1.37rem;
    --information-size: 1rem;

    --card-title-height: 1.17rem;
    --section-title-height: 1.61rem;
    --information-height: 1.17rem;
}

body {
    display: flex;
    justify-content: center;
    margin-top: 0;
}

h1, h2, h3, h4, p, ul, ol {
    font-style: normal;
}

h1, h2, h4 {
    font-family: var(--section-title-font);
    font-weight: var(--section-title-weight);
    color: var(--main-text-color);
}

h1, h2 {
    font-size: var(--section-title-size);
    line-height: var(--section-title-height);
}

h3 {
    font-family: var(--card-title-font);
    font-weight: var(--card-title-weight);
    font-size: var(--card-title-size);
    line-height: var(--card-title-height);
    color: var(--main-text-color);
}

h4 {
    font-size: 1.12rem;
    line-height: 1.32rem;
}

p, ul, ol {
    font-family: var(--information-font);
    font-weight: var(--information-weight);
    font-size: var(--information-size);
    line-height: var(--information-height);
    color: var(--main-text-color);
}

a {
    color: inherit;
    text-decoration: none;
}

.fa-solid {
    color: var(--main-color);
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}